.container {
  margin: 0 auto;
}

.wrapper  {
  background-color: #fff;
  border: 1px solid #ced9e1;
  margin-top: 12px;
}

h2 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 0.5;
  margin-bottom: 40px;
}

h3 {
  font-weight: 400;
  font-size: .875rem;
  color: #8fa8ba;
}

h4 {
  font-weight: 400;
  font-size: .875rem;
  color: steelblue;
}

.u-content--center {
  margin: 0 auto;
}

.u-text--centered {
  text-align: center;
}

.c-card {
  color: #262626;
  max-width: 100%;
  text-align: center;
  margin-bottom: 75px;
  height: 55px;
  border-bottom: 1px solid #ccc;
  padding: .75rem;
}

.u-image--24 {
  width: 24px;
  height: 24px;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 12px; 
}

.u-image--rounded {
  border-radius: 290486px;
}

.u-image--24:hover  {
  cursor: pointer;
}

.tab-list {
  padding-left: 0;
}

.tab-list-icon {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
}

.tab-icon-active {
  background-color: white;
  background: #439539;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}










